<div class="main-structure">
  <mat-card class="card-structure">
    <div class="logo">
      <h1>Registration</h1>
    </div>
    <form [formGroup]=form>
      <mat-form-field class="login-input" appearance="fill" >
        <mat-label>Email</mat-label>
        <input matInput formControlName="userEmail" email   value="">
      </mat-form-field>
      <mat-form-field class="login-input" appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" type="password" value="">
      </mat-form-field>
      <mat-form-field class="login-input" appearance="fill">
        <mat-label class="label-black">Password confirmation</mat-label>
        <input matInput formControlName="passwordConfirmation" type="password" value="">
      </mat-form-field>
    </form>
    <button mat-raised-button  color="primary" [disabled]="!form.valid" (click)="save()">Save</button>
    <button mat-stroked-button  class="mt-2  "  (click)="goBack()">Go Back To Login</button>
  </mat-card>
</div>
