.ms-n5 {
  margin-left: -40px;
}

.main {
  display: flex;
  flex-direction: column;
  max-width: 550px;
  margin: 0 auto;
  padding-top: 50px;
}

.notes-list {
  margin-top: 25px;
  margin-bottom: 85px;
}

app-note-card {
  display: block;
  margin-bottom: 20px;
}

.addBtn {
  position: fixed;
  bottom: 4px;
  width: 550px;
  border-radius: 0;
}
