<div #container class="note-card-container">
  <div class=" card note-card-content" [routerLink]="link">
    <h6 class=" card-title note-card-title">{{title}}</h6>
    <div #bodyText class="card-body note-card-body">
      <p class="m-0"><span class="p-weight">Short: </span>{{shortDescription}}</p>
      <p class="m-0"><span class="p-weight">Description: </span>{{description}}</p>
      <div  #truncator class="fade-out-truncation"></div>
    </div>
  </div>
  <div class="d-block justify-content-between">
  <div class="x-button" (click)="deleteNote()">

  </div>
    <div class="checkbox">
      <input type="checkbox"  (change)="updateChecked()">
    </div>
  </div>
</div>
