<div class="note-card-container">
  <div class=" card note-card-content" >
    <h6 class=" card-title note-card-title">{{note.title}}</h6>
    <div #bodyText class="card-body note-card-body" (click)="viewNote()">
      <p class="m-0 padding-right"><span class="p-weight">Short: </span>{{note.shortDescription}}</p>
      <p class="m-0 padding-right "><span class="p-weight">Description: </span>{{note.description}}</p>
      <div  #truncator class="fade-out-truncation"></div>
    </div>
  </div>
  <div class="d-block justify-content-between">
  <div class="x-button" (click)="deleteNote()">

  </div>
    <div class="editBtn" (click)="editNote()">
      <i class="fa fa-edit"></i>
    </div>
    <div class="checkbox">
      <input type="checkbox" [checked]="note.status" (change)="updateChecked($event)">
    </div>
  </div>
</div>
