<div class="form-container">
  <form #noteForm="ngForm" (ngSubmit)="onSubmit(noteForm)">
    <div class="mb-3 mt-5">
      <label for="title" class="form-label">Title</label>
      <input type="text" class="form-control" id="title" name="title"  [ngModel]="note.title" required >
    </div>
    <div class="mb-3">
      <label for="shortDescription" class="form-label">Short Description</label>
      <input type="text" class="form-control" id="shortDescription" name="shortDescription"  [ngModel]="note.shortDescription"   required>
    </div>
    <div class="mb-3">
      <label for="descripion" class="form-label">Description</label>
      <textarea class="form-control" id="descripion" rows="3" name="description"  [ngModel]="note.description"  required></textarea>
    </div>
    <div class="buttons d-flex justify-content-end ">
    <button type="button" class="btn btn-outline-secondary custom-btn " (click)="cancel()">Cancel</button>
    <button type="submit" class="btn btn-success custom-btn1" [disabled]="!noteForm.valid">Save</button>
    </div>
  </form>
</div>
